
h1 {
    border: 10PX solid rgb(218, 241, 8);
    margin: 100px 100px;
    padding: 20px; 
    text-align: center;
    width: 300px;
    margin-left: 500px;
    margin-right: 400px;
    background: purple;
}
li {
   

   margin-left: 500px;
 
}
html {
   background: blue;

}